/* ----------------For whole webpage as a Default code(value)------------- */
*{
    padding: 0;
    margin: 0;
    color: blue;
}

/* -----Scroll-bar cooding------------- */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: linear-gradient(red,blue,violet,white,black,gray);
}::-webkit-scrollbar-thumb{
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

/* -----------Body --------- */
body{
    background-color: #EFC7B7;
}

/* --------------container--------> */
.container{
    height: 100vh;
    width: 100%;
}
.container .logo{
    height: 0px;
    background-color: black;
}
.container .logo img{
    margin-top: 8px;
    margin-left: -20px;
    height: 120px;
}
/* ---------------Userinfo------------> */
.Userinfo{
    display: block;
    align-items: center;
    text-align: center;
    padding-top: 60px;
    padding-left: 100%/2;
    height: 150px;
    width: 100%;
    background-color: rgb(3, 109, 109);
}
.Userinfo .searchbar h1{
    color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    font-weight: 1000;
    padding-bottom: 5px;
}
.Userinfo a{
    text-decoration: none;
}
.Userinfo img{
    height: 30px;
    padding-right: 20px;

}
/* ----------------Header-----------> */
.header{
    display: block;
    text-align: center;
    height: 60px;
    width: 700px;
    margin-left: 400px;
    margin-top: -30px;
    border-radius: 16px;
    background-color: rgb(188, 203, 222);
}
.header h1{
    color: rgb(0, 0, 0);
    padding-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 27px;
}
/* ----------------Search---------> */
.container .search{
    display: block;
    text-align: center;
    margin: 10px 0 10px 0;

}
.container .search input{
    outline: none;
    width: 700px;
    color: rgb(0, 0, 0);
    border: 3px rgb(146, 140, 140) solid;
    height: 35px;
    font-size: 17px;
    margin-left: -16px;
    border-radius: 10px;
    padding-left: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* ----------------Table-----------> */
#table{
    width: 100%;
    background-color: #c2dde6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#table thead tr th{
    height: 65px;
    background-color: rgb(160, 190, 236);
    color: aliceblue;
}
#table tbody tr td{
    height: 35px;
    padding-left: 200px;
}
#table tbody tr td:nth-child(even){
    padding-left: 230px;
}
#table tbody tr:nth-child(even) td{
    background-color: rgb(177, 247, 223);
    color: rgb(0, 0, 0);
}#table tbody tr:nth-child(odd) td{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}